@model List<BookStore.Models.Product>

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
@*     <h2 class="text-center">Your Cart</h2> *@

    <form method="post" asp-action="UpdateCart" asp-controller="Home">
        <table class="table">
            <thead class="">
                <tr>
                    <th>Product Name</th>
                    <th class="text-center" style="max-width: 50px;">Image</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="description-cell" style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Name</td>
                        <td class="text-center" style="max-width: 50px;">
                            <img src="~/images/@item.Image" class="img-fluid" alt="@item.Name" style="max-height: 60px; object-fit: contain;" />
                        </td>
                        <td class="text-center">
                            <input type="number" name="quantities[@item.Id]" value="@item.StockQuantity" min="1" class="form-control" style="width: 80px; display: inline-block;" />
                        </td>
                        <td class="text-center">$@item.Price.ToString("F2")</td>
                        <td class="text-center">$@(item.Price * item.StockQuantity)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end"><strong>Total Amount:</strong></td>
                    <td class="text-center">
                        <strong>
                            $@{
                                // Calculate the total
                                var totalAmount = Model.Sum(item => item.Price * item.StockQuantity);
                                @totalAmount.ToString("F2")
                            }
                        </strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        

        @* d-flex justify-content-between *@
        <div class="text-end">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
            <button type="submit" class="btn btn-success">Update Cart</button>
        </div>
    </form>
</div>
